:root {
  --surface-1-light: #ffffff;
  --surface-2-light: #dee2e6;
  --text-1-light: #030507;
  --text-2-light: #868e96;
  --surface-1-dark: #16191d;
  --surface-2-dark: #495057;
  --text-1-dark: #f8f9fa;
  --text-2-dark: #868e96;
}

.blog-gallery {
  max-width: 50%;
}

.image-container {
  display: flex;
  flex-wrap: wrap; /* Optional: allows wrapping to the next line if needed */
  gap: 10px; /* Optional: adds space between images */
}

.image-container img {
  flex: 1; /* Ensures all images are flexible and share space equally */
  max-width: 50%; /* Ensures the images don’t get too big */
  height: auto; /* Maintains aspect ratio */
}
