{{ $gallery := partial "get-gallery.html" . }}
{{ if ne $gallery "NULL" }}
  {{ with $gallery }}
    <a class="card" href="{{ .page.RelPermalink }}" title="{{ .page.Title }}" data-index="{{ .Index }}">
      <img loading="lazy" style="background-color: {{ .color }}" alt="{{ .page.Title }}" class="gallery-thumbnail-{{ .page.Title | urlize }}" data-index="{{ .Index }}"/>
      <div>
        <h2>{{ .page.Title }}</h2>
        <p>
          {{ if gt .albumCount 0 }}
            {{ T "albumCount" (dict "count" (.albumCount | lang.FormatNumber 0) "photoCount" (.imageCount | lang.FormatNumber 0 | lang.Translate "photoCount")) }}
          {{ else }}
            {{ T "photoCount" (.imageCount | lang.FormatNumber 0) }}
          {{ end }}
        </p>
      </div>
    </a>
  {{ end }}
{{ end }}