{{ $blogs := "NULL" }}
<hgroup>
    {{ range where .Pages "Params.private" "ne" true }}
        {{ $pagetitle := .Title | urlize | safeJS }}
        {{ if eq $pagetitle "blog" }}
            <h1>{{ .Title }}</h1>
            <p>{{ .Description }}</p>
            <ul>
                <!-- Grayscale 灰階 -->
                {{ $filter1 := images.Grayscale }}
                <!-- Brightness 百分比[-100, 100] -->
                {{ $filter2 := (images.Brightness -12) }}
                <!-- 浮水印 -->
                {{ $logo := resources.Get "/images/copyright_drowsybao.png"}} 
                {{ $logoFilter := (images.Overlay $logo 24 198 ) }}
                {{ range .Params.resources }}
                    {{ $images_webp := resources.Match (printf "/images/%s*.webp" .img ) }}
                    {{ $thumbnail := "NULL" }}
                    {{ range $image := $images_webp }}
                        <!-- JavaScript for logging to console-->
                        <script>
                            console.log("range gallery imgpath: {{ $image.RelPermalink }}");
                            console.log("range gallery Name   : {{ $image.Name }}");
                        </script>
                        {{ if (strings.Contains $image.Name "_640") }}
                            {{ $imageTmp := $image }}
                            {{ $imageTmp = $imageTmp.Filter $filter1 }}
                            {{ $imageTmp = $imageTmp.Filter $filter2 }}
                            {{ $imageTmp = $imageTmp.Filter $logoFilter }}
                            {{ $thumbnail := $imageTmp }}
                        {{ end }}
                    {{ end }}
                    <!-- JavaScript for logging to console-->
                    {{ $images_webp_path := (printf "images/%s*.webp" .img ) }}
                    <script>
                        console.log("gallery title    : {{ .title }}");
                        console.log("gallery imgpath  : {{ $images_webp_path }}");
                        console.log("gallery thumbnail: {{ $thumbnail }}");
                    </script>
                    <li>
                        <a class="card" href="{{ .link }}" title="{{ .title }}" data-index="{{ .Index }}">
                            {{ if ne $thumbnail "NULL" }}
                                {{ with $thumbnail }} 
                                    <img src="{{ .RelPermalink }}" loading="lazy" alt="{{ .title }}" class="gallery-thumbnail-{{ .title | urlize }}" data-index="{{ .Index }}"/>
                                {{ end }}    
                            {{ else }}
                                <p>Thumbnail is missing for {{ .title }}</p>
                            {{ end }}
                            <p>{{ .title }}</p>
                        </a>
                    </li>
                {{ end }}
              </ul>
        {{ end }}
    {{ end }}
</hgroup>