{{ $blogs := "NULL" }}
<hgroup>
    {{ range where .Pages "Params.private" "ne" true }}
        {{ $pagetitle := .Title | urlize | safeJS }}
        {{ if eq $pagetitle "blog" }}
            <h1>{{ .Title }}</h1>
            <p>{{ .Description }}</p>
            <ul>
                <!-- Grayscale 灰階 -->
                {{ $filter1 := images.Grayscale }}
                <!-- Brightness 百分比[-100, 100] -->
                {{ $filter2 := (images.Brightness -12) }}
                <!-- 浮水印 -->
                {{ $logo := resources.Get "/images/copyright_drowsybao.png"}} 
                {{ $logoFilter := (images.Overlay $logo 24 198 ) }}
                {{ range .Params.resources }}
                    {{ $images_webp := resources.Match (printf "images/%s*.webp" .img ) }}
                    {{ $thumbnail := slice }}
                    {{ range $image := $images_webp }}
                        {{ if (strings.Contains $image.Name "_640") }}
                            {{ $imageTmp := $image }}
                            {{ $imageTmp = $imageTmp.Filter $filter1 }}
                            {{ $imageTmp = $imageTmp.Filter $filter2 }}
                            {{ $imageTmp = $imageTmp.Filter $logoFilter }}
                            {{ $thumbnail := $imageTmp }}
                        {{ end }}
                    {{ end }}
                    <li>
                        <a class="card" href="{{ .link }}" title="{{ .title }}" data-index="{{ .Index }}">
                            <img src="{{ $thumbnail.RelPermalink }}" loading="lazy" alt="{{ .title }}" class="gallery-thumbnail-{{ .title | urlize }}" data-index="{{ .Index }}"/>
                            <p>{{ .title }}</p>
                        </a>
                    </li>
                {{ end }}
              </ul>
        {{ end }}
    {{ end }}
</hgroup>