{{ $imgdir := (.Params.imgdir | default "NULL") }}
{{ $imageslist := resources.Match (printf "images/%s/*.jpg" $imgdir) }}
{{ $rawdata := (.Params.resources | default "NULL") }}
{{ $filters := slice (images.Colorize 30 80 80) (images.Brightness -12) }}
{{ $filter1 := (images.Colorize 77 80 80) }}
{{ $filter2 := (images.Brightness -12) }}
{{ $title := "" }}
{{ $description := "" }}
{{ $imageTmp := slice }}
<section class="gallery">
  <div id="gallery" style="visibility: hidden; height: 1px; overflow: hidden">
    {{ $images := slice }}
    {{ range $image := resources.Match (printf "images/%s/*.jpg" $imgdir) }}
      {{ if ne $rawdata "NULL" }}
        {{ range $resource := $rawdata }}
          {{ $src := (printf "/images/%s/%s" $imgdir $resource.src) }}
          {{ if eq $src $image.Name }}
            {{ $title = $resource.title }}
            {{ with $resource.params.description }}
              {{ $description = . }}
            {{ end }}
          {{ end }}
        {{ end }}
      {{ end }}
      {{ $imageTmp := $image }}
      {{ $imageTmp = $imageTmp.Filter $filter1 }}
      {{ $imageTmp = $imageTmp.Filter $filter2 }}
      {{ $images = $images | append (dict
        "Name" $image.Name
        "Title" $title
        "Description" $description
        "image" $imageTmp
        )
      }}
      <!-- JavaScript for logging to console -->
      <script>
        console.log("gallery title: {{ $title }}");
        console.log("gallery Name: {{ $image.Name }}");
        console.log("gallery description: {{ $description }}");
      </script>
    {{ end }}
    {{ range sort $images (.Params.sort_by | default "Name") (.Params.sort_order | default "asc") }}
      {{ $image := .image }}
      {{ $thumbnail := $image.Filter (slice images.AutoOrient (images.Process "fit 600x600")) }}
      {{ $full := $image.Filter (slice images.AutoOrient (images.Process "fit 1600x1600")) }}
      {{ $color := index $thumbnail.Colors 0 | default "transparent" }}
      <a class="gallery-item" href="{{ $image.RelPermalink }}" data-pswp-src="{{ $full.RelPermalink }}" data-pswp-width="{{ $full.Width }}" data-pswp-height="{{ $full.Height }}" title="{{ .Title }}" description="{{ .Description }}" itemscope itemtype="https://schema.org/ImageObject" style="aspect-ratio: {{ $thumbnail.Width }} / {{ $thumbnail.Height }}">
        <img loading="lazy" width="{{ $thumbnail.Width }}" height="{{ $thumbnail.Height }}" src="{{ $thumbnail.RelPermalink }}" style="background-color: {{ $color }}" alt="{{ .Title }}" />
        <meta itemprop="contentUrl" content="{{ $image.RelPermalink }}" />
        {{ with site.Params.Author }}
          <span itemprop="creator" itemtype="https://schema.org/Person" itemscope>
            <meta itemprop="name" content="{{ site.Params.Author.name }}" />
          </span>
        {{ end }}
      </a>
    {{ end }}
  </div>
</section>
