{{ $imgdir := (.Params.imgdir | default "NULL") }}
{{ $imageslist := resources.Match (printf "images/%s/*.jpg" $imgdir) }}
{{ $rawdata := (.Params.resources | default "NULL") }}
{{ $title := "" }}
{{ $description := "" }}
<section class="gallery">
  <div id="gallery" style="visibility: hidden; height: 1px; overflow: hidden">
    {{ $images := slice }}
    <!-- JavaScript for logging to console -->
    <script>
      console.log("page2 imgdir: {{ $imgdir }}");
      console.log("page2 imageslist: {{ $imageslist }}");
    </script>
    {{ range $image := resources.Match (printf "images/%s/*.jpg" $imgdir) }}
      {{ if ne $rawdata "NULL" }}
        {{ range $resource := $rawdata }}
          {{ $src := (printf "/images/%s/%s" $imgdir $resource.src) }}
          <script>
            console.log("rawdata src: {{ $src }}");
            console.log("rawdata image.Name: {{ $image.Name }}");
            console.log("rawdata title: {{ $resource.title }}");
          </script>
          {{ if eq $src $image.Name }}
            {{ $title = $resource.title }}
            {{ with $resource.params.description }}
              {{ $description = . }}
            {{ end }}
          {{ end }}
        {{ end }}
      {{ end }}
      {{ $images = $images | append (dict
        "Name" $image.Name
        "Title" $title
        "Description" $description
        "image" $image
        )
      }}
      <!-- JavaScript for logging to console -->
      <script>
        console.log("page2 title: {{ $title }}");
        console.log("page2 Name: {{ $image.Name }}");
        console.log("page2 description: {{ $description }}");
      </script>
    {{ end }}
    {{ range sort $images (.Params.sort_by | default "Name") (.Params.sort_order | default "asc") }}
      {{ $image := .image }}
      {{ $thumbnail := $image.Filter (slice images.AutoOrient (images.Process "fit 600x600")) }}
      {{ $full := $image.Filter (slice images.AutoOrient (images.Process "fit 1600x1600")) }}
      {{ $color := index $thumbnail.Colors 0 | default "transparent" }}
      <a class="gallery-item" href="{{ $image.RelPermalink }}" data-pswp-src="{{ $full.RelPermalink }}" data-pswp-width="{{ $full.Width }}" data-pswp-height="{{ $full.Height }}" title="{{ .Title }}" itemscope itemtype="https://schema.org/ImageObject" style="aspect-ratio: {{ $thumbnail.Width }} / {{ $thumbnail.Height }}">
        <img loading="lazy" width="{{ $thumbnail.Width }}" height="{{ $thumbnail.Height }}" src="{{ $thumbnail.RelPermalink }}" style="background-color: {{ $color }}" alt="{{ .Title }}" />
        <meta itemprop="contentUrl" content="{{ $image.RelPermalink }}" />
        {{ with site.Params.Author }}
          <span itemprop="creator" itemtype="https://schema.org/Person" itemscope>
            <meta itemprop="name" content="{{ site.Params.Author.name }}" />
          </span>
        {{ end }}
      </a>
    {{ end }}
  </div>
</section>
