{{ $gallery := "" }}
{{ $imgdir := (.Params.imgdir | default "NULL") }}
{{ $images_jpg := resources.Match (printf "images/%s/**/*.jpg" $imgdir) }}
{{ $images_webp := resources.Match (printf "images/%s/**/*.webp" $imgdir) }}
<!-- Filter out variations like i1_320.jpg, i1_640.jpg, etc. -->
{{ $filteredImages_jpg := slice }}
{{ range $image := $images_jpg }}
  {{ if not (or (strings.Contains $image.Name "_320") (strings.Contains $image.Name "_640") (strings.Contains $image.Name "_1280")) }}
    {{ $filteredImages_jpg = $filteredImages_jpg | append $image }}
  {{ end }}
{{ end }}
<!-- Filter out variations like i1_320.webp, i1_640.webp, etc. -->
{{ $filteredImages_webp := slice }}
{{ range $image := $images_webp }}
  {{ if not (or (strings.Contains $image.Name "_320") (strings.Contains $image.Name "_640") (strings.Contains $image.Name "_1280")) }}
    {{ $filteredImages_webp = $filteredImages_webp | append $image }}
  {{ end }}
{{ end }}
<!-- allImages -->
{{ $allImages := append $filteredImages_jpg $filteredImages_webp }}
{{ if gt (len $allImages) 0 }}
  {{ $featured := index $allImages 0 }} <!-- Default to first image if no match -->
  {{ if .Params.featured_image }}
    {{ range $image := $allImages }}
      {{ if strings.Contains $image.Name (.Params.featured_image) }}
        {{ $featured = $image }}
        {{ break }}
      {{ end }}
    {{ end }}
  {{ end }}
  {{ $thumbnail := $featured.Filter (slice images.AutoOrient (images.Process "fit 600x600")) }}
  {{ $color := index $thumbnail.Colors 0 | default "transparent" }}
  {{ $imageCount := 0 }}
  {{ $albumCount := 0 }}
  {{ if .IsPage }}
    {{ $imageCount = len $allImages }}
  {{ else }}
    {{ range where .RegularPagesRecursive "Params.private" "ne" true }}
      {{ $albumCount = add $albumCount 1 }}
      {{ $imageCount = add $imageCount (len (.Resources.ByType "image")) }}
    {{ end }}
  {{ end }}

  {{ $gallery = dict
    "page" $
    "images" $allImages
    "thumbnail" $thumbnail
    "color" $color
    "albumCount" $albumCount
    "imageCount" $imageCount
    "imgdir" $imgdir
  }}
{{ end }}
{{ return $gallery }}
