{{ $gallery := "" }}
<!--{{ $images := .Resources.ByType "image" }}-->
{{ $images := resources.Match "images/*/*.jpg" }}
{{ if gt (len $images) 0 }}
  {{ $featured := ($images.GetMatch (printf "images/%s" (.Params.featured_image | default "*feature*"))) | default (index $images 0) }}
  {{ $thumbnail := $featured.Filter (slice images.AutoOrient (images.Process "fit 600x600")) }}
  {{ $color := index $thumbnail.Colors 0 | default "transparent" }}
  {{ $imageCount := 0 }}
  {{ $albumCount := 0 }}
  {{ if .IsPage }}
    {{ $imageCount = len $images }}
  {{ else }}
    {{ range where .RegularPagesRecursive "Params.private" "ne" true }}
      {{ $albumCount = add $albumCount 1 }}
      {{ $imageCount = add $imageCount (len (.Resources.ByType "image")) }}
    {{ end }}
  {{ end }}

  <!-- Logging examples -->
  {{ printf "Number of images: %d" (len $images) }}
  {{ printf "Featured image path: %s" $featured.RelPermalink }}
  {{ printf "Thumbnail dimensions: %dx%d" $thumbnail.Width $thumbnail.Height }}
  {{ printf "Album count: %d" $albumCount }}
  {{ printf "Image count: %d" $imageCount }}

  {{ $gallery = dict
    "page" $
    "images" $images
    "thumbnail" $thumbnail
    "color" $color
    "albumCount" $albumCount
    "imageCount" $imageCount
  }}
{{ end }}
{{ return $gallery }}
