{{ $gallery := "" }}
<!--{{ $images := .Resources.ByType "image" }}-->
{{ $images := resources.Match "images/*/*.jpg" }}
{{ if gt (len $images) 0 }}
  {{ $featured := ($images.GetMatch (printf "images/%s" (.Params.featured_image | default "*feature*"))) | default (index $images 0) }}
  {{ $thumbnail := $featured.Filter (slice images.AutoOrient (images.Process "fit 600x600")) }}
  {{ $color := index $thumbnail.Colors 0 | default "transparent" }}
  {{ $imageCount := 0 }}
  {{ $albumCount := 0 }}
  {{ if .IsPage }}
    {{ $imageCount = len $images }}
  {{ else }}
    {{ range where .RegularPagesRecursive "Params.private" "ne" true }}
      {{ $albumCount = add $albumCount 1 }}
      {{ $imageCount = add $imageCount (len (.Resources.ByType "image")) }}
    {{ end }}
  {{ end }}

  <!-- JavaScript for logging to console -->
  <script>
    console.log("Number of images: {{ len $images }}");
    console.log("Featured image path: {{ $featured.RelPermalink }}");
    console.log("Thumbnail dimensions: {{ $thumbnail.Width }}x{{ $thumbnail.Height }}");
    console.log("Album count: {{ $albumCount }}");
    console.log("Image count: {{ $imageCount }}");
  </script>

  {{ $gallery = dict
    "page" $
    "images" $images
    "thumbnail" $thumbnail
    "color" $color
    "albumCount" $albumCount
    "imageCount" $imageCount
  }}
{{ end }}
{{ return $gallery }}
