{{ with site.Menus.main }}
  <menu class="hidden" id="menu">
    {{ range . }}
      <!-- JavaScript for logging to console -->
      <script>
        console.log("menu name: {{ .Name }}");
        console.log("menu HasChildren: {{ .HasChildren }}");
        console.log("menu URL: {{ .URL }}");
        console.log("menu MenuCurrent: {{ or (page.IsMenuCurrent .Menu .) (page.HasMenuCurrent .Menu .) }}");
      </script>
      <li itemscope itemtype="http://www.schema.org/SiteNavigationElement">
        <a aria-current="{{ or (page.IsMenuCurrent .Menu .) (page.HasMenuCurrent .Menu .) }}" href="{{ .URL }}" itemprop="url">
          <span itemprop="name">{{ .Name }}</span>
        </a>
      </li>
    {{ end }}
  </menu>
{{ end }}
