<!-- Colorize 色相[0, 360] 飽和度[0, 100] 百分比[0, 100] -->
{{ $filter1 := (images.Colorize 188 30 12) }}
<!-- Brightness 百分比[-100, 100] -->
{{ $filter2 := (images.Brightness -12) }}
<!-- 浮水印 -->
{{ $logo := resources.Get "/images/copyright_drowsybao.png" }} 
{{ $logoFilter := (images.Overlay $logo 24 198 ) }}
{{ $imgdir := printf "images/%s/%s" (.Get "imgdir" | default "NULL") (.Get "imgsubdir" | default "NULL") }}
{{ $image := resources.Get (printf "%s/%s" $imgdir (.Get "name" | default "NULL")) }}
{{ $maxwidth := (.Get "max-width" | default "NULL") }}
{{ $imageTmp := $image }}
{{ $imageTmp = $imageTmp.Filter $filter1 }}
{{ $imageTmp = $imageTmp.Filter $filter2 }}
{{ $imageTmp = $imageTmp.Filter $logoFilter }}
<img class="blog-gallery" src="{{ $imageTmp.RelPermalink }}" alt="{{ $imageTmp.Name }}" {{ if ne $maxwidth "NULL" }}max-width={{ $maxwidth% }}%;{{ end }}>